.about-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .page-content {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #3E3F5B;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white;
  }
