.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.nav-links li a {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--link-color);
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--link-bg);
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: var(--link-hover-bg);
    color: var(--text-color);
}

.nav-links li a.active {
    background-color: var(--active-link-bg);
    font-weight: bold;
    color: var(--text-color);
}



@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: var(--content-bg);
        padding: 1rem;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 200px;
        border-radius: 10px;
    }

    .nav-links.show {
        display: flex;
    }
}

.navbar {
    background-color: var(--navbar-bg);
    padding: 1rem;
}

.main-footer {
    width: 100%;
    background-color: var(--footer-bg);
    padding: 1rem;
    color: var(--footer-text-color);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
  }

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Lora', serif;
}

.toggle-dark-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: var(--link-bg); 
    color: var(--link-color);
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.toggle-dark-btn img {
    width: 18px;
    height: 18px;
    vertical-align: middle;
    filter: invert(20%);
}
  
body.dark-mode .toggle-dark-btn img {
    filter: invert(90%);
}

input:focus {
  color: var(--text-color);
}


  


