.menu-toggle {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1rem;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #f2f2f2;
        padding: 1rem;
        position: absolute;
        top: 60px;
        right: 10px;
        width: 200px;
        border-radius: 10px;
    }

    .nav-links.show {
        display: flex;
    }
}


.main-footer {
    width: 100%;
    background-color: #f2f2f2;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }