.cta-wrapper {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 justify-content: center;
 column-gap: 20px;
 row-gap: 2rem;
 gap: 2rem;
}

.cta-box {
  background-color: var(--content-bg);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px  rgba(41, 26, 77, 0.4);
  text-align: center;
  color: var(--text-color);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  max-width: 200px;
  border-radius: 30%;
  margin: 0 auto 1rem;
  box-shadow: 0 0 8px rgba(83, 81, 81, 0.1);
}

.project-img {
  max-width: 150px;
  margin: 0 auto 1rem;
  border-radius: 10px;
  height: 200px;
}

.btn-project {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  max-width: 250px;
  width: 100%;
  margin: 1rem auto 0;
}

.btn-resume {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--btn-bg);
  color: var(--btn-text-color);
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  max-width: 250px;
  width: 100%;
  margin: 1rem auto 0;
}

.contact-box a {
  color: var(--text-color);
  text-decoration: none;
}

.contact-box a:hover {
  color: var(--btn-bg);
}


.page-content {
  max-width: 1200px;
  margin: 1.2rem auto;
  padding: 1rem;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--bg-color);
}


@media (max-width: 768px) {
  .page-content {
    padding: 1rem;
    margin: 1rem;
  }

  .cta-wrapper,
  .form-group,
  .skills-section,
  .about-section {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }

  .cta-box,
  .result-box {
    padding: 1rem;
    font-size: 0.95rem;
  }

  h1, h2, h3 {
    font-size: 1.5rem;
  }

  .btn,
  .btn-project,
  .btn-resume {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    width: 100%;
    max-width: 250px;
  }

  input[type="text"],
  input[type="number"] {
    font-size: 1rem;
    padding: 0.75rem;
  }

  .profile-img,
  .project-img {
    max-width: 100%;
    height: auto;
  }

  .nav-links {
    width: 90%;
    right: 5%;
  }

  .footer-content {
    flex-direction: column;
    gap: 0.5rem;
  }
}
