  .skills-list {
    list-style-type: disc;
    padding-left: 1.5rem;
    color: var(--text-color);
    text-align: left;
  }

  .skills-list li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }

  .skills-section h1 {
    color: var(--text-color);
    margin-bottom: 1rem;
  }

  .page-content {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--content-bg);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: var(--text-color);
  }

  .page-content section h2 {
    color: var(--text-color);
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .page-content section p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1rem;
    text-align: left;
  }

