@import url('variables.css');

.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  }

  .skills-list li {
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  }

  .skills-section h1 {
    font-size: 1.8rem;
    font-family: 'Lora', serif;
    color: var(--text-color);
    margin-bottom: 1.25rem;
    border-bottom: 0.2rem solid #d6d1d1;
    padding-bottom: 0.5rem;
  }

  .page-content {
    max-width: 30rem;
    margin: 0 auto;
    margin-top: 1.2rem;
    padding: 5rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7rem;
    background-color: var(--content-bg);
    border-radius: 0.75rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
  }

  .skills-list li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.6rem;
    width: 0.6rem;
    height: 0.6rem;
    background-color: var(--text-color);
    border-radius: 2rem;
  }

  .page-content section h2 {
      color: var(--text-color);
      margin-top: 2rem;
      font-size: 1.5rem;
      border-bottom: 0.2rem solid #d6d1d1;
      padding-bottom: 0.5rem;
    }

  .page-content section p {
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1rem;
    text-align: left;
  }

  @media (max-width: 575px) {
    .page-content {
      width: 92%;
      padding: 1.2rem;
      font-size: 0.95rem;
    }
  
    .skills-section h1,
    .page-content section h2 {
      font-size: var(--font-size-small);
    }
  
    .skills-list li {
      font-size: var(--font-size-small);
      line-height: 1.6;
    }
  
    .page-content section p {
      font-size: var(--font-size-small);
      line-height: 1.5;
    }
  
  }

  @media (min-width: 576px) and (max-width: 766px) {
    .page-content,
    .skills-section {
      width: 85%;
      margin: 1.5rem auto;
      padding: 1.2rem;
    }
  
    .skills-list li {
      font-size: var(--font-size-small);
    }
  
    h1, h2 {
      font-size: var(--font-size-big);
    }
  
  }

  @media (min-width: 767px) and (max-width: 991px) {
    .page-content,
    .skills-section {
      width: 75%;
      margin: 2rem auto;
      padding: 1.5rem;
    }
  
    .skills-list li {
      font-size: var(--font-size-small);
    }
  
    h1, h2 {
      font-size: var(--font-size-big);
    }

  }